[Unit]
Description=cryptexlyd server (%I)
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/cryptexlyd -config /usr/local/etc/cryptexlyd/config.json -app /usr/local/share/cryptexly
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
DefaultInstance=pi
